#root {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  padding-left: 30px;
}

.container {
  --light-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 780px;
  background: var(--light-color);
  box-shadow: 0px 0px 15px 0px black;
}
@media screen and (min-width:440px) {
    .container {
        position: fixed;
    }
}

.topp{
  position: absolute;
  text-align: center;
  top:0;
  left:0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.chat-body {
  text-align: left;
  height: 665px;
  display: flex;
  flex-direction: column-reverse;
  padding: 8px 10px;
  /* align-items: flex-end; */
  overflow-y: auto;
}

.read-the-docs {
  color: #888;
}
/* CSS part */
.chat-form {
  display: flex;
  flex-direction: column; /* Adjust the layout to stack items vertically */
  padding: 10px;
  background-color: #f0f0f0;
}

.chat-form textarea {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  outline: none;
  resize: none; /* Disable resizing of the textarea */
  margin-bottom: 10px; /* Add spacing between textarea and button */
}

.chat-form button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.chat-form button:hover {
  background-color: #0056b3;
}

.chatbot-message {
  padding: auto;
  margin-bottom: auto;
  
  align-self: flex-start;
  border-radius: 1px 1px 3px 1px;
}

.chatbot-message ul {
  padding-left: 0; /* Remove indentation */
}
.chatbot-message li {
  margin-bottom: 10px; /* Adjust the value as needed */
  list-style: none;
}